<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello and welcome to my Website</title>
</head>
<div class="Testtext_and_Picture">

    <h1>Hello this is a testpage</h1>
    <p>just to see if the routing is working.</p>
    <img src="https://media.istockphoto.com/id/1371813961/de/foto/junge-spanische-latinos-attraktive-gutaussehende-l%C3%A4chelnde-stilvolle-gl%C3%BCckliche-modische.webp?s=2048x2048&w=is&k=20&c=EiclT-x9DUGrAe8aKOnLMhuTOg_GtH9pmqX3P4SFXs4=" alt="thumbs up" width="800" height="">
</div>
<body>
    
</body>
</html>